@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&family=Oswald:wght@200;300;400;500;600;700&display=swap");

h1 {
  font-family: "Oswald", sans-serif;
}

h4 {
  font-family: "Courier Prime", monospace;
}

h5 {
  font-family: "Courier Prime", monospace;
}

body {
  font-family: "Oswald", sans-serif;
  font-family: "Courier Prime", monospace;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}
.text-container {
  display: flex;
  flex-direction: column;
}
